!!!
html
  head
    meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
    title traders 
    link(href='http://fonts.googleapis.com/css?family=Iceland', rel='stylesheet', type='text/css')
    != js("traders")
    != css("traders")
  body
    header
      h1 Traders of the Lost Park
    canvas#game(width="640", height="480")
    #howto
      p
        | You can either click one of the Dollars that give you a random amount of money
        | or drag one of your cards on another card on the table.
        | The player with five same cards or the
        | the most money at the end wins.
    footer
      p
        | &copy; 2011
        | • A game by Thomas R. Koll
        | • Created during 
        a(href: "https://metalab.at/wiki/Super_Gamedev_Weekend") Super Gamedev Weekend
