!!!
html
  head
    meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
    title traders 
    != js("traders")
    != css("traders")
    link(href='http://fonts.googleapis.com/css?family=Fondamento', rel='stylesheet', type='text/css')
  body
    header
      h1 Traders of the Lost Park
    canvas#game
    footer
      p
        | &copy; 2011
        | • A game by Thomas R. Koll
        | • Created during 
      a(href: "https://metalab.at/wiki/Super_Gamedev_Weekend") Super Gamedev Weekend
